# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
.env
.venv/
ENV/

# OS Files
.DS_Store
Thumbs.db
*.swp

# JS/Node (Just in case, since there is App.jsx and package.json)
node_modules/
.npm
dist/
dist-ssr/
*.local

# Project specific huge zip files
*.zip
ott-monetization-full/
